@import 'antd/dist/antd';

// ------ Base & Require ------
@font-family: 'Segoe UI', sans-serif;
@primary-color: #20519E;
@border-radius-base: 0.375rem;
@body-background: #f0f2f5;

// ------ Overrides and/or extended ------
@import './libs/form.less';
@import './libs/typography.less';
