@import 'antd/dist/antd';

// ------ Base & Require ------
@font-family: 'Cera Pro', sans-serif;
@font-size-base: 16px;
// @text-color: #6D7986;
@primary-color: #20519E;
@border-radius-base: 0.375rem;
@body-background: #f0f2f5;
@input-height-lg: 42px;
@btn-height-lg: 42px;

// ------ Overrides and/or extended ------
@import './libs/form.less';
@import './libs/typography.less';
